DB="mongodb+srv://carlostello:..."
PORT=...
SECRET=......
RESET_PASSWORD_KEY=......
CLIENT_URL=http://localhost:....
GOOGLE_APP_EMAIL="example@example.com"
GOOGLE_APP_PW=".... ..... ..... ....."
PAYPAL_CLIENT_ID=AU........................
PAYPAL_CLIENT_SECRET=EGZ........................
